#root {
  flex-direction: row;
  margin: 0 auto;
}

:root {
  --grisfooter: #f2f2f2;
  --grissearch: #f5f6f7;
  --bleuvinted: #2cb1ba;
  --blanc: #ffffff;
  --ecriture: #242424;
  --grisusername: #999999;
  --grisplaceholder: #bfbfbf;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: 400;
}

/*--------------------------- HEADER ----------------------*/

header {
  height: 60x;
  display: flex;
  justify-content: center;
}

.contentHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  gap: 35px;
}

.logo {
  margin-right: 20px;
}

.logo img {
  width: 80px;
}

.searchbar {
  display: flex;
  flex-direction: column;
  position: relative;
}

.search {
  background-color: var(--grissearch);
  border: none;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  color: var(--grisusername);
  font-size: 16px;
  height: 37px;
  outline: none;
  padding-left: 50px;
  width: 500px;
}

.searchbar span {
  width: 20px;
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: 5px;
  padding: 0.6rem;
  color: #bbb;
}

.signup {
  margin-right: 10px;
  background-color: #fff;
  color: var(--bleuvinted);
  border: 1px solid var(--bleuvinted);
  border-radius: 5px;
  font-size: 12px;
  height: 30px;
  outline: none;
  width: 110px;
  cursor: pointer;
}
.login {
  margin-right: 10px;
  background-color: #fff;
  color: var(--bleuvinted);
  border: 1px solid var(--bleuvinted);
  border-radius: 5px;
  font-size: 12px;
  height: 30px;
  outline: none;
  width: 110px;
  cursor: pointer;
}

.soldbouton {
  margin-right: 20px;
  background-color: var(--bleuvinted);
  color: var(--blanc);
  border: none;
  border-radius: 5px;
  font-size: 12px;
  height: 30px;
  outline: none;
  width: 115px;
  cursor: pointer;
}

.logout {
  margin-right: 20px;
  background-color: rgb(230, 71, 71);
  color: var(--blanc);
  border: none;
  border-radius: 5px;
  font-size: 12px;
  height: 30px;
  outline: none;
  width: 115px;
  cursor: pointer;
}
/*--------------------------- ENDHEADER ----------------------*/

/*--------------------------- MAIN ----------------------*/

.homecontainer {
  display: flex;
}

.home-slide {
  background-image: url(../src/assets/banner.jpeg);
  background-size: cover;
  height: 455px;
  width: 100%;
}

.contentSlider {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 70px 120px;
}

.cart-news {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 260px;
}

.newsslide {
  width: 400px;
  height: 260px;
  background: var(--blanc);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 32px;
}

.newsslide p {
  font-size: 2.4rem;
  font-weight: 500;
  white-space: pre-line;
  line-height: 1.2;
}
.newsslide button {
  width: 180px;
  height: 40px;
  background: var(--bleuvinted);
  color: var(--blanc);
  border-radius: 5px;
  border: none;
}

.separate {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#separtop {
  width: 100%;
  height: 50px;
  left: 0;
  position: absolute;
  top: 463px;
}

img {
  object-fit: cover;
}

.home-card-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto auto;
  width: 1280px;
}

.card-container {
  cursor: pointer;
  padding: 0 6px 16px;
  width: 245px;
}

.card-container a {
  text-decoration: none;
}

.card-avatar {
  align-items: center;
  display: flex;
  padding: 10px;
  margin-right: 10px;
}

.card-avatar span {
  color: var(--grisusername);
  font-size: 0.8rem;
}

.card-avatar img {
  border-radius: 50%;
  height: 25px;
  margin-right: 10px;
  object-fit: cover;
  width: 25px;
}

.card-pictures {
  display: flex;
  flex-wrap: wrap;
}

.card-pictures img {
  height: 350px;
  object-fit: cover;
  width: 235px;
}

.card-infos {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.card-infos p:first-child {
  font-size: 15px;
  color: var(--ecriture);
  font-weight: 500;
}

.card-infos ul li {
  font-size: 12px;
  color: #999;
  margin-top: 5px;
}

/*--------------------------- ENDMAIN ----------------------*/

/*--------------------------- OFFER ----------------------*/

.offer-body {
  background-color: #ebedee;
  height: calc(100vh - 60px);
}

.offer-content {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 30px;
  width: 1280px;
}

.offer-picture img {
  height: 600px;
  object-fit: cover;
  border-radius: 5px;
}

.offer-infos {
  background: var(--blanc);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  width: 320px;
}

.offerprice {
  font-size: 22px;
  font-weight: 700;
  color: var(--bleuvinted);
}

.offerinfos {
  font-size: 13px;
  text-transform: uppercase;
  flex-direction: inherit;
  line-height: 20px;
  color: var(--grisusername);
}

.userimg {
  display: flex;
  align-items: center;
}

.userimg img {
  width: 40px;
  border-radius: 50%;
}

.userimg span {
  padding: 10px;
}

.linegrey {
  width: 100%;
  border-bottom: 1px solid var(--grisusername);
}

.offerdescription {
  font-size: 13px;
  flex-direction: inherit;
  line-height: 20px;
  color: var(--grisusername);
}

.offerbtn {
  width: 100%;
  height: 40px;
  background: var(--bleuvinted);
  color: var(--blanc);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.offerbtn:hover {
  width: 100%;
  height: 40px;
  background: var(--blanc);
  color: var(--bleuvinted);
  border-radius: 5px;
  border: 1px solid var(--bleuvinted);
}

/*--------------------------- ENDOFFER ----------------------*/

/*--------------------------- FORM ----------------------*/

.signup-body,
.login-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  text-align: center;
}

.signupform,
.loginform {
  margin: auto;
  width: 280px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.signupform > input,
.loginform > input {
  border: none;
  border-bottom: 1px solid var(--grisplaceholder);
  height: 40px;
  margin-bottom: 20px;
  width: 100%;
  outline: none;
}

.signupform-error,
.loginform-error {
  width: 100%;
  height: 30px;
  color: var(--blanc);
  background: red;
  font-size: 10px;
  line-height: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.check-form {
  margin-top: 20px;
  padding: 10px;
}

.checkcarre {
  display: flex;
  align-items: center;
}

.check-form span {
  display: flex;
}

.check-form input[type="checkbox"] {
  margin-right: 20px;
  transform: scale(1.5);
}
.check-form p {
  font-size: 12px;
  margin-top: 10px;
  color: #999;
  text-align: left;
}
.signupform button,
.loginform button {
  background-color: var(--bleuvinted);
  border: none;
  border-radius: 5px;
  color: var(--blanc);
  font-size: 16px;
  height: 45px;
  margin-top: 20px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
}

.signupform a,
.loginform a {
  font-size: 12px;
  font-weight: 500;
  color: var(--bleuvinted);
  text-decoration: none;
}

.signupform label {
  font-size: 12px;
  font-weight: 500;
  color: var(--ecriture);
  display: flex;
  margin-bottom: 20px;
}
/*--------------------------- ENDFORM ----------------------*/

/*--------------------------- PUBLISH ----------------------*/

.publish-content {
  background-color: #ebedee;
  padding-top: 30px;
}

.formpusblish {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 30px;
  width: 950px;
  background: var(--blanc);
  border-radius: 5px;
}

textarea {
  border: none;
  border-bottom: 1px solid var(--grisplaceholder);
}

.formpusblish ::placeholder {
  color: var(--grisplaceholder);
}

.form-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.form-field label {
  margin-right: 10px; /* Espacement entre le label et l'input */
  align-items: center;
}
.formpusblish label {
  margin-top: 20px;
}
.publish-content h1 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.dropbox {
  margin: 10px 0;
  height: 180px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px dotted var(--grisusername);
  border-radius: 5px;
  cursor: pointer;
}

.dropbox input {
  display: none;
}

.btnupload {
  text-decoration: none;
  background-color: var(--bleuvinted);
  color: var(--blanc);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.btnupload:hover {
  text-decoration: none;
  background-color: var(--blanc);
  color: var(--bleuvinted);
  padding: 10px 20px;
  border: 1px solid var(--bleuvinted);
  cursor: pointer;
}

.btnupload span {
  font-size: 15px;
  font-weight: 500;
  margin-right: 10px;
}

.formpusblish input {
  border: none;
  border-bottom: 1px solid var(--grisplaceholder);
  height: 40px;
  margin-bottom: 20px;
  width: 430px;
  outline: none;
}

.articleinfo1 {
  margin-top: 20px;
  border-radius: 10px;
  width: 980px;
  height: 200px;
  background-color: var(--blanc);
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.articleinfo2 {
  margin-top: 20px;
  border-radius: 10px;
  width: 980px;
  height: 500px;
  background-color: var(--blanc);
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.articleinfo1 label {
  margin-top: 10px;
  width: 130px;
}

.sepagrise {
  border-bottom: 1px solid var(--grisusername);
  margin-top: 10px;
}

.btnsubmitform {
  text-decoration: none;
  background-color: var(--bleuvinted);
  color: var(--blanc);
  padding: 10px 20px;
  border: none;
  width: 100%;
  cursor: pointer;
  margin-top: 30px;
  font-weight: 500;
  text-transform: uppercase;
}
/*--------------------------- ENDPUBLISH ----------------------*/

/*--------------------------- FOOTER ----------------------*/

.footer {
  display: flex;
  justify-content: space-evenly;
  background: var(--bleuvinted);
  height: 80px;

  top: 0;
}

.contentFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  gap: 25px;
}

.contentFooter span {
  font-size: 25px;
  color: var(--blanc);
}

.storelogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.storelogo p {
  font-size: 15px;
}

.storelogo img {
  width: 160px;
}

.footer img {
  height: 25px;
  width: 100%;
  line-height: 80px;
  border-radius: 5px;
}

/*--------------------------- ENDFOOTER ----------------------*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .contentHeader {
    gap: 10px; /* Réduisez encore l'espacement entre les éléments si nécessaire */
  }

  .contentHeader > div {
    display: flex;
  }

  .search {
    width: 250px; /* Ajustez la largeur pour les tablettes */
  }

  .signup,
  .login,
  .soldbouton,
  .logout {
    width: 100px; /* Ajustez la largeur pour les tablettes */
  }

  .home-card-wrap {
    overflow: hidden;
    overflow-x: scroll;
  }

  .offer-content {
    width: 970px;
  }
}
