#root {
  margin: 0 auto;
  flex-direction: row;
  margin: 0 auto;
}

:root {
  --grisfooter: #f2f2f2;
  --grissearch: #f5f6f7;
  --bleuvinted: #2cb1ba;
  --blanc: #ffffff;
  --ecriture: #242424;
  --grisusername: #999999;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-width: 960px;
}

header {
  height: 55px;
  display: flex;
  justify-content: center;
}

.contentHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  gap: 35px;
}

.logo {
  margin-right: 20px;
}

.logo img {
  width: 80px;
}

.searchbar {
  display: flex;
  flex-direction: column;
  position: relative;
}

.search {
  background-color: var(--grissearch);
  border: none;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  height: 37px;
  outline: none;
  padding-left: 50px;
  width: 590px;
}

.searchbar span {
  width: 20px;
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: 5px;
  padding: 0.7rem;
  color: #bbb;
}

.signup {
  margin-right: 20px;
  background-color: #fff;
  color: var(--bleuvinted);
  border: 1px solid var(--bleuvinted);
  border-radius: 5px;
  font-size: 12px;
  height: 30px;
  outline: none;
  width: 115px;
  cursor: pointer;
}
.login {
  margin-right: 20px;
  background-color: #fff;
  color: var(--bleuvinted);
  border: 1px solid var(--bleuvinted);
  border-radius: 5px;
  font-size: 12px;
  height: 30px;
  outline: none;
  width: 115px;
  cursor: pointer;
}

.soldbouton {
  margin-right: 20px;
  background-color: var(--bleuvinted);
  color: var(--blanc);
  border: none;
  border-radius: 5px;
  font-size: 12px;
  height: 30px;
  outline: none;
  width: 115px;
  cursor: pointer;
}

.homecontainer {
  display: flex;
}

.home-slide {
  background-image: url(../src/assets/banner.jpeg);
  background-size: cover;
  height: 455px;
  width: 100%;
}

.separate {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#separtop {
  width: 100%;
  height: 50px;
  left: 0;
  position: absolute;
  top: 460px;
}

img {
  object-fit: cover;
}

.home-card-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto auto;
  width: 1280px;
}

.card-container {
  cursor: pointer;
  padding: 0 6px 16px;
  width: 245px;
}

.card-avatar {
  align-items: center;
  display: flex;
  padding: 10px;
  margin-right: 10px;
}

.card-avatar span {
  color: var(--grisusername);
  font-size: 0.8rem;
}

.card-avatar img {
  border-radius: 50%;
  height: 25px;
  margin-right: 10px;
  object-fit: cover;
  width: 25px;
}

.card-pictures {
  display: flex;
  flex-wrap: wrap;
}

.card-pictures img {
  height: 350px;
  object-fit: cover;
  width: 235px;
}

.card-infos {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.card-infos p:first-child {
  font-size: 15px;
  color: var(--ecriture);
  font-weight: 500;
}

.card-infos ul li {
  font-size: 12px;
  color: #999;
  margin-top: 5px;
}
