#root {
  flex-direction: row;
  margin: 0 auto;
}

:root {
  --grisfooter: #f2f2f2;
  --grissearch: #f5f6f7;
  --bleuvinted: #2cb1ba;
  --blanc: #ffffff;
  --ecriture: #242424;
  --grisusername: #999999;
  --grisplaceholder: #fcced3;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-width: 960px;
}

h1 {
  font-size: 24px;
  font-weight: 400;
}

placeholder {
  color: var(--grisplaceholder);
}

/*--------------------------- HEADER ----------------------*/

header {
  height: 60x;
  display: flex;
  justify-content: center;
}

.contentHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  gap: 35px;
}

.logo {
  margin-right: 20px;
}

.logo img {
  width: 80px;
}

.searchbar {
  display: flex;
  flex-direction: column;
  position: relative;
}

.search {
  background-color: var(--grissearch);
  border: none;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  color: var(--grisusername);
  font-size: 16px;
  height: 37px;
  outline: none;
  padding-left: 50px;
  width: 590px;
}

.searchbar span {
  width: 20px;
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: 5px;
  padding: 0.7rem;
  color: #bbb;
}

.signup {
  margin-right: 20px;
  background-color: #fff;
  color: var(--bleuvinted);
  border: 1px solid var(--bleuvinted);
  border-radius: 5px;
  font-size: 12px;
  height: 30px;
  outline: none;
  width: 115px;
  cursor: pointer;
}
.login {
  margin-right: 20px;
  background-color: #fff;
  color: var(--bleuvinted);
  border: 1px solid var(--bleuvinted);
  border-radius: 5px;
  font-size: 12px;
  height: 30px;
  outline: none;
  width: 115px;
  cursor: pointer;
}

.soldbouton {
  margin-right: 20px;
  background-color: var(--bleuvinted);
  color: var(--blanc);
  border: none;
  border-radius: 5px;
  font-size: 12px;
  height: 30px;
  outline: none;
  width: 115px;
  cursor: pointer;
}

.logout {
  margin-right: 20px;
  background-color: rgb(230, 71, 71);
  color: var(--blanc);
  border: none;
  border-radius: 5px;
  font-size: 12px;
  height: 30px;
  outline: none;
  width: 115px;
  cursor: pointer;
}
/*--------------------------- ENDHEADER ----------------------*/

/*--------------------------- MAIN ----------------------*/

.homecontainer {
  display: flex;
}

.home-slide {
  background-image: url(../src/assets/banner.jpeg);
  background-size: cover;
  height: 455px;
  width: 100%;
}

.contentSlider {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 70px 120px;
}

.cart-news {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 260px;
}

.newsslide {
  width: 400px;
  height: 260px;
  background: var(--blanc);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 32px;
}

.newsslide p {
  font-size: 2.4rem;
  font-weight: 500;
  white-space: pre-line;
  line-height: 1.2;
}
.newsslide button {
  width: 180px;
  height: 40px;
  background: var(--bleuvinted);
  color: var(--blanc);
  border-radius: 5px;
  border: none;
}

.separate {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#separtop {
  width: 100%;
  height: 50px;
  left: 0;
  position: absolute;
  top: 463px;
}

img {
  object-fit: cover;
}

.home-card-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto auto;
  width: 1280px;
}

.card-container {
  cursor: pointer;
  padding: 0 6px 16px;
  width: 245px;
}

.card-container a {
  text-decoration: none;
}

.card-avatar {
  align-items: center;
  display: flex;
  padding: 10px;
  margin-right: 10px;
}

.card-avatar span {
  color: var(--grisusername);
  font-size: 0.8rem;
}

.card-avatar img {
  border-radius: 50%;
  height: 25px;
  margin-right: 10px;
  object-fit: cover;
  width: 25px;
}

.card-pictures {
  display: flex;
  flex-wrap: wrap;
}

.card-pictures img {
  height: 350px;
  object-fit: cover;
  width: 235px;
}

.card-infos {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.card-infos p:first-child {
  font-size: 15px;
  color: var(--ecriture);
  font-weight: 500;
}

.card-infos ul li {
  font-size: 12px;
  color: #999;
  margin-top: 5px;
}

/*--------------------------- ENDMAIN ----------------------*/

/*--------------------------- OFFER ----------------------*/

.offer-body {
  background-color: #ebedee;
  height: calc(100vh - 60px);
}

.offer-content {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  margin: 0 auto;
  padding: 30px;
  width: 1280px;
}

.offer-picture img {
  height: 600px;
  object-fit: cover;
  border-radius: 5px;
}

.offer-infos {
  background: var(--blanc);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  width: 320px;
}

/*--------------------------- ENDOFFER ----------------------*/

/*--------------------------- FORM ----------------------*/

.signup-body,
.login-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  text-align: center;
}

.signupform,
.loginform {
  margin: auto;
  width: 280px;
  margin-top: 20px;
}

.signupform > input,
.loginform > input {
  border: none;
  border-bottom: 1px solid var(--grisplaceholder);
  height: 40px;
  margin-bottom: 20px;
  width: 100%;
  outline: none;
}

.signupform-error,
.loginform-error {
  width: 100%;
  height: 30px;
  color: var(--blanc);
  background: red;
  font-size: 10px;
  line-height: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.check-form {
  margin-top: 20px;
  padding: 10px;
}

.checkcarre {
  display: flex;
  align-items: center;
}

.check-form span {
  display: flex;
}

.check-form input[type="checkbox"] {
  margin-right: 20px;
  transform: scale(1.5);
}
.check-form p {
  font-size: 12px;
  margin-top: 10px;
  color: #999;
  text-align: left;
}
.signupform button,
.loginform button {
  background-color: var(--bleuvinted);
  border: none;
  border-radius: 5px;
  color: var(--blanc);
  font-size: 16px;
  height: 45px;
  margin-top: 20px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
}

.signupform a,
.loginform a {
  font-size: 12px;
  font-weight: 500;
  color: var(--bleuvinted);
  margin-top: 20px;
  text-decoration: none;
}
/*--------------------------- ENDFORM ----------------------*/

/*--------------------------- FOOTER ----------------------*/

/*--------------------------- ENDFOOTER ----------------------*/
